apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  labels:
    app.kubernetes.io/component: platform-metrics-collector
    app.kubernetes.io/part-of: multicluster-observability-addon
    app.kubernetes.io/managed-by: multicluster-observability-operator
  name: platform-metrics-virtualization
  namespace: open-cluster-management-observability
spec:
  jobName: platform-metrics
  metricsPath: /federate
  params:
    match[]:
    - '{__name__="csv_abnormal"}'
    - '{__name__="csv_succeeded"}'
    - '{__name__="kubevirt_hco_system_health_status"}'
    - '{__name__="kubevirt_hyperconverged_operator_health_status"}'
    - '{__name__="kubevirt_vm_error_status_last_transition_timestamp_seconds"}'
    - '{__name__="kubevirt_vm_migrating_status_last_transition_timestamp_seconds"}'
    - '{__name__="kubevirt_vm_non_running_status_last_transition_timestamp_seconds"}'
    - '{__name__="kubevirt_vm_resource_requests"}'
    - '{__name__="kubevirt_vm_running_status_last_transition_timestamp_seconds"}'
    - '{__name__="kubevirt_vm_starting_status_last_transition_timestamp_seconds"}'
    - '{__name__="kubevirt_vmi_cpu_usage_seconds_total"}'
    - '{__name__="kubevirt_vmi_vcpu_delay_seconds_total"}'
    - '{__name__="kubevirt_vmi_info"}'
    - '{__name__="kubevirt_vm_info"}'
    - '{__name__="kubevirt_vmi_memory_available_bytes"}'
    - '{__name__="kubevirt_vmi_memory_cached_bytes"}'
    - '{__name__="kubevirt_vmi_memory_unused_bytes"}'
    - '{__name__="kubevirt_vmi_memory_used_bytes"}'
    - '{__name__="kubevirt_vmi_network_receive_bytes_total"}'
    - '{__name__="kubevirt_vmi_network_receive_packets_total"}'
    - '{__name__="kubevirt_vmi_network_transmit_bytes_total"}'
    - '{__name__="kubevirt_vmi_network_transmit_packets_total"}'
    - '{__name__="kubevirt_vmi_phase_count"}'
    - '{__name__="kubevirt_vmi_storage_iops_read_total"}'
    - '{__name__="kubevirt_vmi_storage_iops_write_total"}'
    - '{__name__="kubevirt_vm_cpu_usage_seconds_total"}'
    - '{__name__="kubevirt_vm_disk_allocated_size_bytes"}'
    - '{__name__="kubevirt_vmi_network_transmit_packets_dropped_total"}'
    - '{__name__="kubevirt_vmi_network_receive_packets_dropped_total"}'
    - '{__name__="kubevirt_vmi_filesystem_used_bytes"}'
    - '{__name__="kubevirt_vmi_filesystem_capacity_bytes"}'
    - '{__name__="kubevirt_vmi_memory_swap_out_traffic_bytes"}'
    - '{__name__="kubevirt_vmi_memory_swap_in_traffic_bytes"}'
    - '{__name__="kubevirt_vmi_vcpu_wait_seconds_total"}'
    - '{__name__="kubevirt_vmi_storage_read_traffic_bytes_total"}'
    - '{__name__="kubevirt_vmi_storage_write_traffic_bytes_total"}'
    - '{__name__="kubevirt_vm_create_date_timestamp_seconds"}'
    - '{__name__="node_cpu_seconds_total"}'
    - '{__name__="node_memory_MemTotal_bytes"}'
    - '{__name__="kubevirt_vmi_status_addresses"}'
    - '{__name__="kubevirt_vmsnapshot_succeeded_timestamp_seconds"}'
  metricRelabelings:
  - action: labeldrop
    regex: prometheus_replica|managed_cluster|id
  scrapeClass: ocp-monitoring
  scheme: HTTPS
  staticConfigs:
  - targets:
    - prometheus-k8s.openshift-monitoring.svc:9091
