apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: alertmanager
  namespace: open-cluster-management-observability
spec:
  endpoints:
  - interval: 30s
    # Matches the name of the service's port.
    port: metrics
    scheme: https
    tlsConfig:
      # ca:
      #   configMap:
      #     # The CA file used by Prometheus to verify the server's certificate.
      #     # It's the cluster's CA bundle from the service CA operator.
      #     name: alertmanager-ca-bundle
      #     key: service-ca.crt
      # The name of the server (CN) in the server's certificate.
      serverName: alertmanager-metrics.open-cluster-management-observability.svc
       # The CA file used by Prometheus to verify the server's certificate.
      # It's the cluster's CA bundle from the service CA operator.
      caFile: /etc/prometheus/configmaps/serving-certs-ca-bundle/service-ca.crt
      # The client's certificate file used by Prometheus when scraping the metrics.
      # This file is located in the Prometheus container.
      certFile: /etc/prometheus/secrets/metrics-client-certs/tls.crt
      # The client's key file used by Prometheus when scraping the metrics.
      # This file is located in the Prometheus container.
      keyFile: /etc/prometheus/secrets/metrics-client-certs/tls.key
  selector:
    # Select all Services in the same namespace that have the `app.kubernetes.io/name: my-app` label.
    matchLabels:
      app: multicluster-observability-alertmanager-metrics