apiVersion: v1
kind: Service
metadata:
  annotations:
    # This annotation tells the service CA operator to provision a Secret
    # holding the certificate + key to be mounted in the pods.
    # The Secret name is "<annotation value>" (e.g. "secret-my-app-tls").
    service.beta.openshift.io/serving-cert-secret-name: alertmanager-tls-metrics
  labels:
    app: multicluster-observability-alertmanager-metrics
  name: alertmanager-metrics
  namespace: open-cluster-management-observability
spec:
  ports:
  - name: metrics
    port: 9096
    targetPort: metrics
  selector:
    alertmanager: observability
    app: multicluster-observability-alertmanager
  type: ClusterIP