apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: open-cluster-management:alertmanager-accessor
  labels:
    alertmanager: observability
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
