apiVersion: v1
kind: Service
metadata:
  name: alertmanager-operated
  namespace: open-cluster-management
spec:
  clusterIP: None
  ports:
  - name: web
    port: 9093
    protocol: TCP
    targetPort: 9093
  - name: tcp-mesh
    port: 9094
    protocol: TCP
    targetPort: 9094
  - name: udp-mesh
    port: 9094
    protocol: UDP
    targetPort: 9094
  selector:
    alertmanager: observability
    app: multicluster-observability-alertmanager
  sessionAffinity: None
  type: ClusterIP