apiVersion: apps/v1
kind: Deployment
metadata:
  name: multicluster-observability-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: multicluster-observability-operator
  template:
    metadata:
      labels:
        name: multicluster-observability-operator
    spec:
      serviceAccountName: multicluster-observability-operator
      containers:
        - name: multicluster-observability-operator
          # Replace this with the built image name
          image: quay.io/open-cluster-management/multicluster-observability-operator:0.1.0-426050808a84d6152586f3f13278ca244f1f3259
          command:
          - mco-operator
          imagePullPolicy: Always
          resources:
            limits:
              cpu: 300m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 128Mi
          env:
            - name: WATCH_NAMESPACE
              value: ""
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: COMPONENT_VERSION
              value: "2.3.0"
            - name: OPERATOR_NAME
              value: "multicluster-observability-operator"
            - name: TEMPLATES_PATH
              value: /usr/local/manifests
            - name: SPOKE_NAMESPACE
              value: open-cluster-management-addon-observability
