apiVersion: apps/v1
kind: Deployment
metadata:
  name: multicluster-monitoring-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: multicluster-monitoring-operator
  template:
    metadata:
      labels:
        name: multicluster-monitoring-operator
    spec:
      serviceAccountName: multicluster-monitoring-operator
      containers:
        - name: multicluster-monitoring-operator
          # Replace this with the built image name
          image: quay.io/open-cluster-management/multicluster-monitoring-operator:0.1.0-7cf8b679fc8a8a1502a0db15ebc4e0005e29fcb6 
          command:
          - multicluster-monitoring-operator
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "multicluster-monitoring-operator"
            - name: TEMPLATES_PATH
              value: /usr/local/manifests
            - name: SPOKE_NAMESPACE
              value: open-cluster-management-monitoring
            - name: ENDPOINT_OPERATOR_IMAGE
              value: "quay.io/open-cluster-management/endpoint-monitoring-operator:0.1.0-8056b1cce03b48290f9e2d7c29b1fcedcdf1aa37"
