name: lint & check bundle

on:
  push:
    branches:
      - main
    tags:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Formatters + Linters (Static Analysis) for Go
    env:
      GOBIN: /tmp/.bin
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.21.x

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/.cache/golangci-lint
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Linting, Formatting & vetting
        run: make lint

      - name: install dependencies
        run: cicd-scripts/install-dependencies.sh

      - name: Make bundle
        run: make bundle

      # We exclude the dockerfile as we have manually modified that to use a different user
      - name: check diff
        run: git diff --exit-code -- . ':(exclude)operators/multiclusterobservability/bundle.Dockerfile'
